<% if flash[:notice] %>
  <div id="notice-alert" role="alert" class="my-8 mx-auto max-w-7xl py-4 px-6 flex bg-green-500/20 rounded-lg">
    <div class="inline-flex space-x-2 items-center">
      <span class="material-symbols-outlined">
        campaign
      </span>
      <p class="font-medium text-green-950"><%= flash[:notice] %></p>
    </div>
    <div class="ml-auto">
      <button id="notice-alert-close">
        <span class="material-symbols-outlined my-0">
          close
        </span>
      </button>
    </div>
  </div>
<% end %>
<% if flash[:alert] %>
  <div id="alert-alert" role="alert" class="my-8 mx-auto max-w-7xl py-4 px-6 flex bg-rose-500/20 rounded-lg">
    <div class="inline-flex space-x-2 items-center">
      <span class="material-symbols-outlined text-rose">
        priority_high
      </span>
      <p class="font-medium text-rose-950"><%= flash[:alert] %></p>
    </div>
    <div class="ml-auto">
      <button id="alert-alert-close">
        <span class="material-symbols-outlined my-0">
          close
        </span>
      </button>
    </div>
  </div>
<% end %>