<header class="bg-white">
  <nav class="page-container flex items-center justify-between" aria-label="Global">
    <div class="flex lg:flex-1">
      <%= link_to "Odin Kitten", root_path, class: "font-bold text-3xl text-orange-500 font-mono" %>
    </div>
    <div class="flex gap-x-12">
      <%= link_to "Home", root_path, class: "ext-sm/6 font-semibold text-gray-900" %>
      <%= link_to "New Kitten", new_kitten_path, class: "ext-sm/6 font-semibold text-gray-900" %>
    </div>
  </nav>
</header>
